<p><%= notice %></p>

<h1>Posts</h1>

  <tbody>
    <% @posts.each do |post| %>
    <% if user_signed_in?%>
      <ul>
        <li><%= post.title %></li>
        <li><%= post.body %></li>
      <li ><%= post.user.username %></li>
      </ul>
    <% end %>
      <% end %>
  </tbody>
</table>
        

<br>

<%= link_to 'New Post', new_post_path %>
